version: "3.3"
services:
  mongodb:
    container_name: mongodb
    image: mongo
    volumes:
      - mongodb:/data/db
    ports:
      - "27017:27017"
    environment:
      - MONGO_INITDB_ROOT_USERNAME=root
      - MONGO_INITDB_ROOT_PASSWORD=example
      - MONGO_INITDB_DATABASE=2daw
  mongo-express:
    image: mongo-express
    restart: always
    ports:
      - 9017:8081
    environment:
      - ME_CONFIG_MONGODB_SERVER=mongodb
      - ME_CONFIG_MONGODB_ADMINUSERNAME=root
      - ME_CONFIG_MONGODB_ADMINPASSWORD=example
      - ME_CONFIG_BASICAUTH_USERNAME=user123
      - ME_CONFIG_BASICAUTH_PASSWORD=pass123
    depends_on:
      - mongodb
volumes:
  mongodb: